@{
    ViewData["Title"] = "Home Page";
}

<br />
<table class="table table-striped">
    @foreach (var item in User.Claims)
    {
        <tr>
            <td>@item.Type</td>
            <td>@item.Value</td>
        </tr>

    }
</table>